.schoolsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.school {
    &Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    &Logo {
        &Container {
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            justify-content: center;
        }
    }

    &Name {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 500;
        color: #2f5a67;

        &Container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &Option {
        font-style: italic;
        font-size: 1.3rem;
        line-height: 1.2;
    }

    &Graduated {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    &CompletedCourses {
        font-size: 1.2rem;
        font-style: italic;
        line-height: 1.2;
    }

    &Years {
        font-size: 1rem;
        line-height: 1.2;
    }
}
