.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    background-color: white;
    width: 90%;
    height: 70%;
    display: flex;
    position: relative;
}

.gameBackground {
    position: relative;
    width: 100%;
    height: 100%;
}

.mainMenu {
    &Container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &Item {
        width: 20%;
        height: 100px;
        background-color: brown;
        cursor: pointer;
    }
}
