.projectCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 300px;
    position: relative;
}

.projectCardContainer {
    position: relative;
}

.projectTitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.projectNav {
    &Button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 30%;
        width: 40px;
        border: 0;
        transition: background-color ease-out 0.2s;
        background-color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
        z-index: 3;

        &Right {
            right: 0;
        }

        &Left {
            left: 0;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.95);
        }

        :active {
            background-color: white;
        }
    }
}

.progressionStep {
    flex: 1;
    height: 10px;
    background-color: rgba(211, 211, 211, 0.755);
    transition: background-color ease-out 0.2s;
    border: 0;
    cursor: pointer;

    &Active {
        flex: 1;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.75);
        border: 0;
    }

    &Container {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 2;
        gap: 5px;
        box-sizing: border-box;
        padding: 5px;
    }
}
