.projectCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 292px;
    height: 633px;
    position: absolute;
    top: 19px;
    left: 19px;
    background-color: black;
}

.smartphoneContainer {
    position: relative;
    width: 330px;
    height: 670px;

    &Image {
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }
}

.laptopContainer {
    display: none;
}

.projectCardContainer {
    position: relative;
}

.projectTitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.projectNav {
    &Button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 30%;
        width: 40px;
        border: 0;
        transition: background-color ease-out 0.2s;
        background-color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
        z-index: 3;

        &Right {
            right: 0;
        }

        &Left {
            left: 0;
        }

        &Icon {
            pointer-events: none;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.95);
        }

        &:active {
            background-color: white;
        }
    }
}

.tabletContainer {
    display: none;
}

.progressionStep {
    height: 15px;
    border-radius: 50%;
    width: 15px;
    background-color: rgba(150, 150, 150, 0.75);
    transition: background-color ease-out 0.2s;
    border: 0;
    cursor: pointer;

    &Active {
        height: 15px;
        border-radius: 50%;
        width: 15px;
        background-color: rgba(255, 255, 255, 0.95);
        border: 0;
    }

    &Container {
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: center;
        bottom: 5px;
        z-index: 3;
        gap: 10px;
        box-sizing: border-box;
        padding: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .smartphoneContainer {
        display: none;
    }

    .projectCardsContainer {
        width: 564px;
        height: 752px;
        top: 100px;
        left: 39px;
    }

    .tabletContainer {
        display: block;
        position: relative;
        width: 642px;
        height: 951px;
    }
}

@media (min-width: 1024px) {
    .projectCardsContainer {
        width: 670px;
        height: 420px;
        top: 27px;
        left: 113px;
    }

    .laptopContainer {
        display: block;
        position: relative;
        width: 894px;
        height: 567px;
    }

    .smartphoneContainer {
        display: none;
    }

    .projectNavButton {
        &Right {
            right: -80px;
        }

        &Left {
            left: -80px;
        }

        &Icon {
            font-size: 40px;
        }
    }
}
