.btn {
    font-family: "FiraCode-SemiBold";
    background-color: black;
    padding: 15px 30px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.05s ease-out;

    &:hover {
        color: yellow;
    }

    &:active {
        transform: scale(1.05);
    }
}
