.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &Margin {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
}

.heading {
    margin-bottom: 40px;

    &::after {
        content: "";
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 2px solid #daa520;
        width: 10vw;
        margin: 10px 0;
    }
}

.subHeading {
    margin-bottom: 15px;
}
